.app {
    // THIS PART IS JUST FOR THIS ONE NOT WHOLE CONTAINER IN APP!!
    color: #565656;
    justify-content: space-between;
    padding: 15px 0;


    .logo {
        font-size: 40px;
        font-weight: 600;
        cursor: pointer;
    }

    .content {
        display: flex;
        list-style: none;
        gap: 15px;
        font-size: 20px;
        cursor: pointer;
    }
}